body {
    background: whitesmoke;
}

/* table */
.tr {
    height: 25px;
}

.td {
    display: inline-block;
    height: 25px;
    width: 25px;
}

.td.aa-cell {
    border: 1px solid black;
}

.td.aa-cell.active {
    background: lightgreen;
}

.td.aa-link {
    /* display: inline-flex; */
    /* justify-content: center; */
    /* align-items: center;  */
    position: relative;
}

.td.empty {
    width: 27px;  /* to compensate for border */
}

/* amino acid */
div.aa {
    height: 25px;
    width: 25px;
    border-radius: 10px;
}

div.aa.P {
    background: orange;
}

div.aa.H {
    background: purple;
}

/* links */
div.link.active {
    background: red;
}

.td.tall > .link {
    width: 5px;
    height: 25px;
    margin: 0 auto;
}

.td.wide > .link {
    width: 25px;
    height: 5px;
    position: absolute;
    top: 47.5%; left: 49%;  /* compensate for the thickness of the link TODO: fix the tiny displacements*/
    transform: translate(-50%,-50%);
}
 
/* folding indicators */
.folding-indicator {
    height: 9px;
    width: 9px;
    position: relative;
    top: 7.5px;
    left: 7.5px;
    background: blue;
}
