body {
    background: whitesmoke;
}

div#wrapper {
    text-align: center;
}

div#title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-family: sans-serif;
}



/* --- Folding Board --- */

div#board-wrapper {
    display: inline-block;
    --normal-cell-len: 35px;
    --small-cell-len: 15px;
}

/* ----------
   table 
*/
.tr {
    height: var(--normal-cell-len);
}

.tr.short {
    height: var(--small-cell-len);
}

.td {
    display: inline-block;
    height: var(--normal-cell-len);
    width: var(--normal-cell-len);
}

.td.aa-cell {
    border: 1px solid #afafaf;
    background: lightgrey;
    width: calc(var(--normal-cell-len) - 2px);
    height: calc(var(--normal-cell-len) - 2px);
}

.td.aa-cell.active {
    background: lightgreen;
}

.td.aa-link {
    /* display: inline-flex; */
    /* justify-content: center; */
    /* align-items: center;  */
    position: relative;
}

.td.aa-link.wide {
    width: var(--small-cell-len);
}

.td.aa-link.tall {
    height: 17px;
}

.td.empty {
    width: var(--small-cell-len);  /* to compensate for border */
    height: 17px;
}

/* ----------
   amino acid 
*/
div.aa {
    height: calc(var(--normal-cell-len) - 2px);
    width: calc(var(--normal-cell-len) - 2px);
    border-radius: 20px;
}

div.aa.P {
    background: royalblue;
}

div.aa.H {
    background: darkolivegreen;
}

/* ----------
   links 
*/
div.link.active {
    background: tomato;
}

.td.tall > .link {
    width: 5px;
    height: var(--small-cell-len);
    position: absolute;
    top: 0;
    left: 43%;
}

.td.wide > .link {
    width: var(--small-cell-len);
    height: 5px;
    position: absolute;
    top: calc(50% - 1px); left: 50%;
    transform: translate(-50%,-50%);
}
 
/* ----------
   folding indicators 
*/
.folding-indicator {
    height: calc(var(--normal-cell-len) - 2px);
    width: calc(var(--normal-cell-len) - 2px);
    /* position: relative; */
    /* top: 4.5px; */
    /* left: 4.5px; */
    background: lightblue;
}
