body {
    background: whitesmoke;
    font-family: "Open Sans", sans-serif;
}

/* globals */

button {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    border-width: 0;
    color: black;
    font-family: "Open Sans", sans-serif;
    background: lightblue;
    padding: 5px 10px;
    text-decoration: none;
}


button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/* content */

div#wrapper {
    text-align: center;
}

div#title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

div#menu {
    padding: 10px;
    margin-bottom: 10px;
}

.menu-item {
    padding: 5px 10px;
    display: inline;
    margin-left: 10px;
    background: lightblue;
}


/* ----------
   modals
*/
.modal-wrapper > button {
    display: block;
    margin-top:20px;    
}

.ReactModal__Overlay {
    z-index: 10;
}


/* --- Folding Board --- */

div#board-wrapper {
    display: inline-block;
    --normal-cell-len: 35px;
    --small-cell-len: 15px;
}

/* ----------
   table 
*/
.tr {
    height: var(--normal-cell-len);
}

.tr.short {
    height: var(--small-cell-len);
}

.td {
    display: inline-block;
    height: var(--normal-cell-len);
    width: var(--normal-cell-len);
    z-index: 1;
}

.td.aa-cell {
    border: 1px solid #afafaf;
    background: lightgrey;
    width: calc(var(--normal-cell-len) - 2px);
    height: calc(var(--normal-cell-len) - 2px);
}

.td.aa-cell.active {
    /*TODO Find color for selected cell*/
    background: lightgreen;
}

.td.aa-cell.active2 {
    /*TODO Find color for rotation center*/
    background: lightskyblue;
    /*border: 1px dotted lightcoral;*/
}

.td.aa-link {
    /* display: inline-flex; */
    /* justify-content: center; */
    /* align-items: center;  */
    position: relative;
}

.td.aa-link.wide {
    width: var(--small-cell-len);
}

.td.aa-link.tall {
    height: 17px;
}

.td.empty {
    width: var(--small-cell-len);  /* to compensate for border */
    height: 17px;
}

/* ----------
   amino acid 
*/
div.aa {
    height: calc(var(--normal-cell-len) - 2px);
    width: calc(var(--normal-cell-len) - 2px);
    border-radius: 20px;
    z-index: 5;
}

div.aa.P {
    /*TODO find color for polar / hydrophilic amino acid*/
    background: royalblue;
}

div.aa.H {
    /*TODO find color for hydrophobic amino acid*/
    background: darkolivegreen;
}

/* ----------
   links 
*/
div.link.active {
    /*TODO find color for links*/
    background: tomato;
}

.td.tall > .link {
    width: 5px;
    height: var(--small-cell-len);
    position: absolute;
    top: 0;
    left: 43%;
}

.td.wide > .link {
    width: var(--small-cell-len);
    height: 5px;
    position: absolute;
    top: calc(50% - 1px); left: 50%;
    transform: translate(-50%,-50%);
}

.td.tall > .link.hh-bond {
    width: 5px;
    background: repeating-linear-gradient(
      transparent,
      transparent 1px,
      black 1px,
      black 2px
    );
}

.td.wide > .link.hh-bond {
    height: 5px;
    background: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 1px,
      black 1px,
      black 2px
    );
}
 
/* ----------
   folding indicators 
*/
.folding-indicator {
    height: calc(var(--normal-cell-len) - 2px);
    width: calc(var(--normal-cell-len) - 2px);
    /* position: relative; */
    /* top: 4.5px; */
    /* left: 4.5px; */
    /*TODO Find color for folding indicator*/
    background: lightblue;
}


/* ----------
   stuff at the bottom
*/
#scorebox {
    border: 1px solid grey;
    padding: 10px;
    margin-top: 10px;
}

#options {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid grey;
}


